


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.valor{

	position: relative;
	top: 2000%;
	left: 0px;
}
.piggy-wrapper{
	position: relative;
	width: 350px;
	height: 350px;
	display: block;
	margin: 0 auto;
	margin-top: 80px;
}
.piggy-wrap{
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
    width: 100%;
	height: 100%;
	transform-origin: bottom center;
	animation: trembling 5s linear infinite;
}
@keyframes trembling {
  0% {
		transform: scale(0.5);
  }
  19% {
		transform: scale(0.5);
  }
  21% {
		transform: scale(0.49);
  }
  22% {
		transform: scale(0.5);
  }
  23% {
		transform: scale(0.49);
  }
  24% {
		transform: scale(0.5);
  }
  25% {
		transform: scale(0.49);
  }
  26% {
		transform: scale(0.5);
  }
  25% {
		transform: scale(0.49);
  }
  26% {
		transform: scale(0.5);
  }
  27% {
		transform: scale(0.49);
  }
  28% {
		transform: scale(0.5);
  }
  29% {
		transform: scale(0.49);
  }
  30% {
		transform: scale(0.5);
  }
  60% {
		transform: scale(0.45);
  }
  61% {
		transform: scale(0.5);
  }
  100% {
		transform: scale(0.5);
  }
}
.piggy{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -160px;
	width: 320px;
	height: 240px;
	display: block;
	border-radius: 120px;
	background-color: #d88fa0;
}
.nose{
	position: absolute;
	top: 80px;
	left: -25px;
	width: 40px;
	height: 60px;
	display: block;
	background-color: #d88fa0;
	z-index: 1;
}
.mouth{
	position: absolute;
	top: 95px;
	left: -15px;
    width: 0;
    height: 0;
	z-index: 8;
	display: block;
    border-bottom: 60px solid #d88fa0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.ear{
	position: absolute;
	top: -35px;
	left: 70px;
	width: 60px;
	height: 60px;
	display: block;
	border-top-right-radius: 60px;
	background-color: #d88fa0;
	z-index: 1;
}
.piggy:before{
	position: absolute;
	content: '';
	top: -25px;
	left: 55px;
	width: 60px;
	height: 60px;
	display: block;
	border-top-right-radius: 60px;
	background-color: #cb6980;
	z-index: -1;
}
.tail{
	position: absolute;
	left: 314px;
	top: 125px;
}
.tail span{
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 5px;
	transform: rotate(30deg);
	background-color: #d88fa0;
}
.tail span:nth-child(2){
	left: 3px;
	top: -38px;
	width: 50px;
	height: 50px;
	transform: rotate(-20deg);
	background-color: transparent;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #d88fa0 #d88fa0 transparent;
}
.tail span:nth-child(3){
	left: 22px;
	top: -36px;
	width: 30px;
	height: 30px;
	transform: rotate(-40deg);
	background-color: transparent;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: #d88fa0 transparent transparent #d88fa0;
}
.tail span:nth-child(4){
	left: 7px;
	top: -66px;
	width: 60px;
	height: 60px;
	transform: rotate(-40deg);
	background-color: transparent;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #d88fa0 transparent;
}
.eye{
	position: absolute;
	left: 35px;
	top: 75px;
	width: 35px;
	height: 35px;
	transform: rotate(45deg);
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	border-color: #555 transparent transparent #555;
	animation: blink 5s linear infinite;
}
@keyframes blink {
  0% {
		border-color: #555 transparent transparent #555;
  }
  19% {
		border-color: #555 transparent transparent #555;
  }
  20% {
		border-color: transparent #555 #555 transparent;
  }
  60% {
		border-color: transparent #555 #555 transparent;
  }
  61% {
		border-color: #555 transparent transparent #555;
  }
  100% {
		border-color: #555 transparent transparent #555;
  }
}
.hole{
	position: absolute;
	left: 127px;
	top: 0;
	width: 80px;
	height: 5px;
	background-color: #555;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.coin-wrap{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
    width: 100%;
	height: 100%;
	opacity: 0;
	transform-origin: bottom center;
	animation: trembling 5s linear infinite, moveCoin 5s linear infinite;
}
.coin{
	position: relative;
	top: 70px;
	left: 143px;
	z-index: 9;
    width: 76px;
	height: 76px;
	border-radius: 50%;
	border: 6px solid #e67e22;
	background-color: #f39c12;
	text-align: center;
	line-height: 68px;
	font-size: 45px;
	font-weight: 500;
	color: rgba(32,32,32,0.5);
	box-shadow: inset 0 0 4px #777;
}
@keyframes moveCoin {
  0% {
		opacity: 0;
		top: 0;
  }
  19% {
		opacity: 1;
		top: 0;
  }
  21% {
		top: -3px;
  }
  22% {
		top: -3px;
  }
  23% {
		top: -7px;
  }
  24% {
		top: -7px;
  }
  25% {
		top: -14px;
  }
  26% {
		top: -14px;
  }
  27% {
		top: -21px;
  }
  28% {
		top: -21px;
  }
  29% {
		top: -28px;
  }
  30% {
		top: -28px;
  }
  60% {
		top: -28px;
  }
  66% {
		top: -120px;
		opacity: 1;
  }
  67% {
		top: -120px;
		opacity: 0;
  }
  99% {
		top: 0;
		opacity: 0;
  }
  100% {
		opacity: 0;
		top: 0;
  }
}
.legs {
	position: absolute;
	bottom: 15px;
	left: 120px;
	width: 20px;
	height: 30px;
	display: block;
	background-color: #cb6980;
	border-radius: 3px;
	z-index: 1;
}
.legs:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 15px;
	height: 6px;
	display: block;
	background-color: #d88fa0;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 1;
}
.legs.back {
	left: 210px;
}

/* #Link to page
================================================== */

.link-to-portfolio {
	position: absolute;
    top: 93%;
    right: 30px;
    z-index: 20;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
    background-image: url('https://ivang-design.com/ig-logo.jpg');
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(0,0,0,.1);
}
